.App {
  text-align: center;
}

.input-label {
  display: flex;
  margin: 5px;
  width: 300px;
  justify-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
}

.div-form {
  flex:1;
  display: flex;
  align-items: center;
  margin: 10px;
}

.input-form {
  height: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
